
.single-apartment .swiper-slide img{
    width: 100%;
}
/* .single-apartment .swiper-pagination-bullet{
    background: #ccc;
} */
.single-apartment .swiper-pagination-bullet-active{
    background: #fff;
}