*{
  margin: 0;
  padding: 0;
}

:root {
  --theme-color: #007882;
  --font-primary: #110229;
  --font-secondary: #666666;
  --section-background: #E5E5E5;
}

body {
  font-family: 'Jost', sans-serif;
}


