*{
  margin: 0;
  padding: 0;
}

:root {
  --theme-color: #007882;
  --font-primary: #110229;
  --font-secondary: #666666;
  --section-background: #FAFAFA;
}

body {
  font-family: 'Jost', sans-serif;
  background-color: var(--section-background);
}
a{
  text-decoration: none;
}
/* common classes */
.section-padding{
  padding-left: 3rem;
  padding-right: 3rem;
}


@media screen and (max-width: 668px) {
  .section-padding{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

